@import './basic.css';

.report {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-300);
    width: 327px;
    background-color: transparent;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
    background-color: var(--navy-900);
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-300);
    width: 100%;
    padding: var(--spacing-400);
    border-radius: 15px;
    background-color: var(--purple-600);
}

.user img {
    width: 64px;
    height: 64px;
}

.img-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
    height: 67px;
    border: 3px solid var(--white);
    border-radius: 50%;
    background-color: var(--grey);
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: var(--spacing-100);
    font-size: inherit;
    font-weight: var(--font-weight-regular);
}

.name {
    display: inline-block;
    font-size: var(--font-size-4);
    line-height: var(--line-height-4);
    font-weight: var(--font-weight-light);
    color: var(--white);
}

.tablist {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-300) 0;
}

[role="tab"] {
    width: 109px;
    height: 21px;
    border: none;
    font-size: var(--font-size-5);
    line-height: var(--line-height-5);
    color: var(--purple-500);
    background-color: transparent;
}

[role="tab"][aria-selected="true"] {
    color: var(--white);
}

.panel {
    width: 100%;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-300);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding-top: 38px;
    border-radius: 15px;
    overflow: hidden;
}

.card .icon {
    position: absolute;
    top: -8px;
    right: 10px;
    z-index: 0;
    width: 78px;
    height: 78px;
}

.card.work {
    background-color: var(--orange);
}

.card.play {
    background-color: var(--blue);
}

.card.study {
    background-color: var(--pink);
}

.card.exercise {
    background-color: var(--green);
}

.card.social {
    background-color: var(--purple-700);
}

.card.self-care {
    background-color: var(--yellow);
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    padding: var(--spacing-300);
    border-radius: 15px;
    background-color: var(--navy-900);
    z-index: 1;
}

.card__data,
.card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-5);
    color: var(--white);
}

.current {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-3);
    color: var(--white);
}

@media screen and (min-width: 768px) {
    .report {
        width: 612px;
    }
    
    .user {
        justify-content: start;
    }

    .tablist {
        width: 100%;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        padding-top: 33px;
    }

    .card__content {
        gap: var(--spacing-200);
    }

    .card__data {
        flex-direction: column;
        align-items: start;
        gap: var(--spacing-100);
    }

    .current {
        font-size: var(--font-size-1);
        line-height: var(--line-height-1);
    }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
    .card .icon {
        width: 57px;
        height: 57px;
    }
}

@media screen and (min-width: 1440px) {
    .report {
        display: grid;
        grid-template-columns: 255px 3fr;
        gap: var(--spacing-400);
        width: 1116px;
    }

    .header {
        align-self: stretch;
    }

    .user {
        flex-direction: column;
        align-items: start;
        height: 100%;
        gap: var(--spacing-500);
    }

    .user img {
        width: 78px;
        height: 78px;
    }

    .img-thumb {
        width: 81px;
        height: 81px;
    }

    .name {
        font-size: var(--font-size-2);
        line-height: var(--line-height-2);
    }

    .tablist {
        flex-direction: column;
        align-items: start;
        gap: 1.31rem;
        padding: var(--spacing-400);
    }

    [role="tab"] {
        width: 68px;
        text-align: left;
    }

    .cards {
        gap: var(--spacing-400);
    }

    .card {
        padding-top: 45px;
    }

    .card__content {
        gap: var(--spacing-300);
        padding: var(--spacing-400);
    }
}